<h1>{{ title }}</h1>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="lat" [longitude]="lng" [zoom]="5">
    <agm-marker [latitude]="lat" [longitude]="lng" [label]="'YOU'">
    </agm-marker>

    <agm-marker *ngFor="let location of locations" [latitude]="location.latitude" [longitude]="location.longitude" [label]="'X'">
        <agm-info-window [disableAutoPan]="true">
            <a [routerLink]="['/location', location.id, 'view' ]">{{location.description}}</a>


            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span jhiTranslate="food24App.storeItemInstance.storeItem">Store Item</span></th>
                    <th><span jhiTranslate="food24App.storeItemInstance.price">Price</span></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let storeItemInstance of storeItemInstances">
                    <td>
                        <div *ngIf="storeItemInstance.storeItemId">
                            <a [routerLink]="['../store-item', storeItemInstance.storeItemId , 'view' ]" >{{storeItemInstance.storeItemName}}</a>
                        </div>
                    </td>
                    <td>
                        {{storeItemInstance.price}}
                    </td>
                    <!--{{location.stores[0].id + storeItemInstance.storeId}}-->
                </tr>
                </tbody>
            </table>
        </agm-info-window>
    </agm-marker>
</agm-map>
